
:root{
    --white: #fff;
    --main-gray : #f9fafc ;
    --dark-gray:#eff2f7 ;
    --dark-brown:#333 ;
    --light-brown:#484848;
    --white-text: white ;
    --gray-text : #a6a6a6;
    --light-yellow-gray:#e6e6e6;
    --lang: rtl;
    --tables: 1016px ;
    --desktop:  1200px;
    --far-away-shadow : rgba(50, 50, 93, 0.25) 0px 30px 30px -20px, rgba(0, 0, 0, 0.3) 0px 20px 60px -30px;
    --flat-shadow : rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --flat-shadow-hover : rgba(50, 50, 93, 0.25) 0px 2px 3px -1px, rgba(0, 0, 0, 0.3) 0px 1px 2px -4px;
}

*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
    transition: 0.3s linear;
}

body{
    font-family: 'Tajawal',sans-serif;
    overflow-x: hidden;
    direction: var(--lang);
}
body.en{
    --lang :ltr ; 
    direction: var(--lang);
}
button{
    font-family: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    
}
.container{
    /* padding :0px clamp( 0px,  6%, 9% ); */
    max-width: 1200px;
    margin: 0px auto;
}
input{
    width: 100%;
    border: none;
    background-color: inherit;
    border-radius: inherit;
    padding : 0px 8px;
    color: inherit;
}
button{
    background-color: inherit;
    border: none;
    border-radius: inherit;
    padding : 0px 8px;
}
img{
    width: 100%;
    height: 100%;
}
.flex-1{
    flex:1;
}
.flex-2{
    flex:2;
}
.flex-3{
    flex:3;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify_content_around{
    justify-content: space-around;
}
.justify_content_between{
    justify-content: space-between;
}
.justify_content_center{
    justify-content: center;
}
.justify_content_start{
    justify-content: flex-start;
}
.justify_content_end{
    
}
.justify_self_end{
    justify-self: flex-end;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align_center{
    align-items: center;
}
.align_between {
    align-content:space-between ;
}
.align_end {
    align-content:flex-end ;
}
.align_self_end {
    align-self:flex-end ;
}
.grid-col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
}
.grid-col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
}
.rounded-5{
    border-radius: 5px;
}
.form{
    margin: 1.2rem;
}
.input{
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--dark-gray);
    margin: 10px 0px;
}
.input input{
    padding-bottom :  2rem ;
    width: 100%;
    color: gray;
}

.btn{
    background-color: white;
    box-shadow: var(--flat-shadow);
    width: fit-content;
    padding : 0.8rem;
    cursor: pointer;
}
.btn:hover{
    box-shadow: var(--flat-shadow-hover);
}
.color-gray{
    color:gray;
}
.color-blue{
    color :blue
}
.color-red{
    color :rgb(255, 0, 0)
}
.color-white{
    color :rgb(255, 255, 255)
}
.color-green{
    color: rgb(11, 134, 32);
}
.bg-red{
    background-color: rgb(206, 27, 27);
}
.bg-blue{
    background-color: rgb(33, 100, 177);
}

.bg-gray{
    background-color: var(--dark-gray);
}
.bg-green{
    background-color: green;
}
.font-bold{
    font-weight: bold;
}
.mt-1{
 margin-top: 1.1rem;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.font-20{
    font-size: 20px;
}
.font-24{
    font-size: 24px;
}
.font-30{
    font-size: 30px;
}
.w-15{
    width:15px;
    height:15px;
}
.w-20{
    width:20px;
    height:20px;
}
.w-24{
    width:24px;
    height:24px;
}
.w-30{
    width:30px;
    height:30px;
}
.w-full{
    width:100%;
}
.p-1{
    padding: 1.1rem;
}
.py-1{
    padding-bottom: 1rem ;
    padding-top : 1rem ;
}
.py-2{
    padding-bottom: 2rem ;
    padding-top : 2rem ;
}
.px-1{
    padding-right:  0.5rem;
    padding-left:  0.5rem;
}
.py-5px{
    padding-top: 5px;
    padding-bottom: 5px;
}
.m-1{
    margin : 1rem;
}
.mx-auto{
    margin: 0px auto ;
}
.mx-1{
    margin: 0px 0.5rem ;
}
.mx-2{
    margin: 0px 2rem ;
}
.mx-3{
    margin: 0px 3rem ;
}
.mx-4{
    margin: 0px 4rem ;
}
.mx-6{
    margin: 0px 6rem ;
}
.my-1{
    margin-top: 1rem ;
    margin-bottom: 1rem;
}
.my-2{
    margin-top: 2rem ;
    margin-bottom: 2rem;
}
.my-3{
    margin-top: 3rem ;
    margin-bottom: 3rem;
}
.my-4{
    margin-top: 4rem ;
    margin-bottom: 4rem;
}
.my-5{
    margin-top: 5rem ;
    margin-bottom: 5rem;
}
.my-6{
    margin-top: 6rem ;
    margin-bottom: 6rem;
}
.ml-1{
    margin-left: 4px;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-6{
    margin-top: 6rem;
}
.mt-7{
    margin-top: 7rem;
}
.border-1{
    border-width: 1px;
    border-style: solid;
}
.border-green{
    border-color: green;
}
.border-b-1 
{
    /* border-width: 1px; */
    border-bottom-width: 1px;
    padding-bottom: 6px;
    border-bottom-style: solid;
}
.border-y-1 
{
    /* border-width: 1px; */
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding-bottom: 6px;
    border-bottom-style: solid;
}
.border-gray{
    border-color: rgb(223, 223, 223);
}
.inline{
    display: inline-block;
}
/* layout  */
.note{
    background-color: rgb(250, 245, 220);
    border-right: 5px solid rgb(255, 174, 0);
    padding:10px;
    margin-bottom: 9px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.book_additional_info , .box {
    min-width: 300px;
    height: fit-content;
    margin: 1.1rem;
    padding: 1.1rem;
    box-shadow: var(--flat-shadow);
}
.hidden{
    position: relative;
    display: none;
}

@media screen and (max-width : 600px) {
    .grid-col-4{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }
    /* .box{
        width: 100%;
    } */
}

/* Footer Style */

.container-footer{
    background-color: #333;
    color:#fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
   }

   .itemfooter{
       padding: 15px;
       
   }
   .subscrip{
       position: relative;
   }
   
   .subscrip input{
    width: 18%;
    height: 40px;
    line-height: 2.86;
    padding: 0 16px;
    background: #eff2f7;
    resize: none;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #eff2f7;
   }
   /* .head-subscrip,.hide-phone-dive,.hide-servece,.hide-quick-start{
       display: none;
   } */
   .subscrip input[type=text]
   {
       width: 65%;
   }
   .subscrip input[type=submit]
   {
       width: 18%;
   }
   
.icon-contact img{
    width: 25px;
}
.footer-icon-container{
    
}
   
   .footer-icon-container div{
      
       margin-right: 4px;
   }
   .hide-phone-dive p ,.hide-servece p,.hide-quick-start p,.hide-about p{
       margin-bottom: 15px;
   }
   .itemfooter>p ,.phone-div>p{
       margin-bottom: 5px;
       padding: 10px;
      
   }
   .info-footer{
    background: #e6e6e6;
    padding: 20px 0 10px;
    width: 100%;
   
   }
   .way-paid{
    padding: 24px 0;
   }
   .way-paid i{
    font-size: 25px;
}
   .crypt{
    font-family: Tajawal,sans-serif;
    font-weight: 400;
    
    color: #273444;
    -webkit-font-smoothing: antialiased;
   }
   .info-footer{
    display: flex;   
}
.way-paid{
    width: 50%;
}
.way-paid i{
    font-size: 50px;
    color: rebeccapurple;
    margin: 8px;
}